
<h3>Export Excel</h3>

<p><a href="@Url.Action("DataToExcel","ExcelExport")">Data To Excel</a></p>

<p><a href="@Url.Action("InputToExcel","ExcelExport")">Input Form To Excel</a></p>



<h3>Import Excel</h3>

<p><a href="@Url.Action("Index","ExcelImport")">Import Excel</a></p>
